<div class="row">
      <div class="col-md-8">
        <%= render 'shared/page_title', title: "Edit This Review" %>
         <%=render 'shared/errors',obj: @review%>

        <%= form_for([@recipe, @review]) do |f| %>
            <%= f.label :Review %>
            <%= f.text_area :body, rows: 5  %>

            <%= f.submit "Edit Review", class: "btn btn-success" %>
        <% end %>

      </div>
    </div>
